# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.idea/workspace.xml
Labs/Lab4/SurfaceArea/out/production/SurfaceArea/.idea/misc.xml
Labs/Lab4/SurfaceArea/out/production/SurfaceArea/.idea/modules.xml
Labs/Lab4/SurfaceArea/out/production/SurfaceArea/SurfaceArea.iml
*.xml
*.iml
Lectures/tempCodeRunnerFile.java
Labs/Lab3/tempCodeRunnerFile.java
